Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans.

A database is a collection of data that is stored and organized in a manner that allows for efficient retrieval and manipulation of that data. It is a structured way to store, manage and retrieve information. Databases are used in a variety of applications, ranging from small personal data management systems to large enterprise-level systems.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of databases. SQL is a relational database management system that is based on the relational model. It stores data in tables that are related to each other by keys. NoSQL, on the other hand, is a non-relational database management system that is not based on the relational model. It stores data in a variety of ways, such as key-value pairs, document-oriented databases, and graph databases.

The main difference between SQL and NoSQL databases is the way they handle data. SQL databases are good for handling structured data that can be easily represented in tables. They are used for applications that require complex querying and transactions, such as banking systems. NoSQL databases, on the other hand, are good for handling unstructured data, such as social media data, that cannot be easily represented in tables. They are used for applications that require high scalability and performance, such as e-commerce websites.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans.

DDL stands for Data Definition Language, which is a subset of SQL used to define, modify, and drop the structure of database objects. The DDL commands are used to define the database schema and to create and modify the database objects.

CREATE: The CREATE statement is used to create a new table, view, or other database object in a database.

For example, the following SQL code creates a new table named users with three columns: id, name, and email.

CREATE TABLE users (

id INT PRIMARY KEY,

name VARCHAR(255),
|
email VARCHAR(255));

DROP: The DROP statement is used to delete an existing database object from a database.

For example, the following SQL code deletes the users table from the database:

DROP TABLE users;


ALTER: The ALTER statement is used to modify an existing database object, such as a table or a column.

For example, the following SQL code adds a new column named age to the users table:

ALTER TABLE users ADD COLUMN age INT;


TRUNCATE: The TRUNCATE statement is used to delete all the data from a table, but it does not delete the table structure.

For example, the following SQL code deletes all the data from the users table:

TRUNCATE TABLE users;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans.

DML stands for Data Manipulation Language, which is used to manipulate data stored in a database. There are three main DML commands in SQL, which are INSERT, UPDATE, and DELETE.

INSERT: The INSERT statement is used to add new rows of data to a table. It takes the form:

INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

For example, if you have a table called "employees" with columns "id", "name", and "salary", and you want to add a new employee with an id of 101, a name of "John Smith", and a salary of 50000, you would use the following SQL statement:

INSERT INTO employees (id, name, salary)
VALUES (101, 'John Smith', 50000);



UPDATE: The UPDATE statement is used to modify existing data in a table. It takes the form:

UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

For example, if you want to update the salary of the employee with an id of 101 to 60000, you would use the following SQL statement:

UPDATE employees
SET salary = 60000
WHERE id = 101;



DELETE: The DELETE statement is used to remove rows of data from a table. It takes the form:

DELETE FROM table_name
WHERE condition;

For example, if you want to remove the employee with an id of 101 from the "employees" table, you would use the following SQL statement:

DELETE FROM employees
WHERE id = 101;

Q4. What is DQL? Explain SELECT with an example.

Ans.

DQL stands for Data Query Language, which is used to query data from a database. The most commonly used DQL command is SELECT, which is used to retrieve data from a database.

The SELECT statement is used to query data from one or more tables in a database. It can be used to retrieve all records from a table or a subset of records based on specified criteria. Here's an example of using the SELECT statement:

Suppose we have a table called "students" with the following columns: id, name, age, and gender. We want to retrieve the names of all female students in the table. We can use the following SELECT statement:

SELECT name FROM students WHERE gender='female';


This statement will retrieve the names of all female students in the "students" table. The "WHERE" clause specifies the condition that the gender must be "female".

Q5. Explain Primary Key and Foreign Key.

Ans.

A primary key is a column or a set of columns in a database table that uniquely identifies each row in the table. It uniquely identifies a record in a table and ensures that there are no duplicate entries in the table.

A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a link between two tables and ensures referential integrity. It is used to enforce a relationship between two tables where the primary key of one table is used as a reference in another table.

For example, consider two tables students and subjects. The students table has columns id and name, where id is the primary key. The subjects table has columns id, student_id, and subject. Here, id is the primary key of the subjects table, and student_id is a foreign key that refers to the id column of the students table. This ensures that each record in the subjects table corresponds to a valid record in the students table.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans.

In a SQL query, the order of execution of the SQL clauses is as follows:

1.FROM
2.JOIN
3.WHERE
4.GROUP BY
5.HAVING
6.SELECT
7.DISTINCT
8.ORDER BY
9.LIMIT